<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Home page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: monospace, Georgia, Serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: monospace;
        letter-spacing: 5px;
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="#" class="w3-bar-item w3-button">ABC GROUP</a>
        <div class="w3-right w3-hide-small">
            <a href="/about" class="w3-bar-item w3-button" target="page">About</a>
            <a href="/staffs" class="w3-bar-item w3-button" target="page">Staffs</a>
            <a href="/departs" class="w3-bar-item w3-button" target="page">Departs</a>
            <a href="/" class="w3-bar-item w3-button">Logout</a>
        </div>
    </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" >
    <img class="w3-image" src="https://pbs.twimg.com/profile_images/378800000729592910/ce6c425f112c6476d193798077a2bdd4.png" width="1600" height="500">
</header>

<!-- Page content -->
<div style="height: 1000px; width: 100%">
    <iframe style="height: 100%; width: 100%" name="page" src="/about" frameborder="0"></iframe>
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by SonLHPH08759 & HieuNTPH08745</p>
</footer>

</body>
</html>